@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body {
    background-color: #1d232a;
    font-family: 'Open Sans', icones, sans-serif;
    color: #ffffff;

}

@media screen and (min-width: 1366px) {
    body {
        display: grid;
        grid-template-columns: auto 1fr;

    }
    

}


.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15191C;
    padding: 0.5em 1em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);

}

.cabecalho_menu i::before {
    content: "\e904";
    font-size: 1.5em;

}

.cabecalho_notificacao i::before {
    content: "\e906";
    font-size: 1.5em;
}

.cabecalho_logo {
    width: 2.5em;

}

.cabecalho_perfil {
    display: none;

}

@media screen and (min-width: 1366px) {
    .cabecalho {
        background-color: #1d232a;
        display: grid;
        grid-template-columns: 1fr auto;
        padding: 1em 60px;
        height: 80px;
        box-sizing: border-box;
        column-gap: 2em;
        
    }
    .cabecalho_menu {
        display: none;

    }
    .cabecalho_logo {
        display: none;

    }
    .cabecalho_perfil {
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 0.5em;
        align-items: center;
        justify-self: flex-end;
        color: #95999C;
        padding: 0.5em 2em;
        border-right: 1px solid #95999C;

    }

    .cabecalho_perfil::before {
        content: "";
        display: block;
        width: 2em;
        height: 2em;
        background-image: url(../img/profile_2.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

    }

    .cabecalho_perfil::after {
        content: "\e90d";
        color:#ffffff;
        font-size: 1.5em;


    }

}

.menu-lateral {
    display: flex;
    flex-direction: column;
    background-color: #15191c;
    width: 75vw;
    height: 100vh;

    position: absolute;
    left:-100vw;
    transition: .35s;
    border-right: 2px solid salmon;
}

.menu-lateral--ativo {
    left: 0;
    transition: .35s;
}

.menu-lateral_logo {
    align-self: center;
    width: 7.3em;
    padding: 1em;

}

.menu-lateral_link {
    height: 4em;
    color: #95999C;
    padding-left: 4em;
    display: flex;
    align-items: center;

}

.menu-lateral_link::before {
    content: "\e900";
    width: 1.5em;
    height: 1.0em;
    font-size: 1.5em;
    position: absolute;
    left: 1.5em;

}

.menu-lateral__link--inicio::before {
    content: "\e902";
    color: rgb(102, 161, 142);
}

.menu-lateral__link--videos::before {
    content: "\e90e";
    color: rgb(194, 37, 68);
}

.menu-lateral__link--picos::before {
    content: "\e909";
    color: brown;
}

.menu-lateral__link--integrantes::before {
    content: "\e903";
    color: green;
}

.menu-lateral__link--camisas::before {
    content: "\e900";
    color: rgb(196, 196, 75);
}


.menu-lateral__link--pinturas::before {
    content: "\e90a";
    color: rgb(133, 108, 182);
}

@media screen and (min-width: 1366px) {
    .menu-lateral {
        position: static;
        grid-column: 1; /*ocupa uma coluna*/
        grid-row: 1/ span 2; /*começa na primeira linha e ocupa 2 linhas consecutivas*/
        width: 200px;

    }

}

.menu-lateral__link--ativo {
    color:#ffffff;
    padding-left: 3.5em;
    border-left: 0.5em solid #ffffff;
    
}

.principal {
    padding: 1.5em 1em;
    display: grid;
    gap: 1em;

}

.titulo-pagina {
    font-size: 1.5em;
    font-weight: 700;

}
.cartao--destaque {
    margin-bottom: 1em;

}
.cartao {
    width: 100%;
    border-radius: 1em;
    overflow: hidden;
    background-color: #2C343A;

}

.cartao_conteudo {
    padding: 1em;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5em;

}

.cartao_destaque {
    grid-column: span 2;
}

.cartao--recentes {
    display: none;

}

.cartao_titulo {
    font-size: 1.2em;
    font-weight: 700;
    grid-column: span 2;

}

.cartao_perfil {
    color: #95999C;
    font-size: 0.9rem;
    grid-column: span 2;

}

.cartao_info {
    display: flex;
    align-items: center;
    color: #95999C;

}

.cartao_info--tempo::before {
    content: "\e90c";
    margin-right: 0.5em;

}

.cartao_info--visualizacao::before {
    content: "\e90f";
    margin-right: 0.5em;

}

.cartao_botao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0480DC;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 0.9rem;
    justify-self: flex-end;

}

.cartao_botao--play::before {
    content: "\e90b";
    font-size: 1.5em;

}

.cartao_botao--destaque {
    width: 100%;
    grid-column: span 2;

}
.cartao_botao--destaque::before {
    margin-right: 0.5em;
}

.secao {
    display: grid;
    gap: 16px;

}

.titulo-secao {
    font-size: 1.2rem;
    font-weight: 700;

}

@media screen and (min-width: 1366px){
    .principal {
        display: grid;
        grid-template-columns: auto 1fr auto;
        column-gap: 2em;
        padding: 1em 60px;

    }
    .cartao--recentes {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        row-gap: 1.5em;
        width: 250px;
        padding: 1em;
        box-sizing: border-box;

    }
    .cartao--recentes .cartao--recentes__titulo {
        grid-column: auto;


    }
    .cartao_link {
        font-size: 0.8rem;
        font-weight: 600;
        color: #0480DC;
        justify-self: flex-end;
    }
    .cartao_lista {
        display: grid;
        row-gap: 1em;
        grid-column: span 2;
    }
    .cartao_item {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0.5em;

    }

    .cartao_item-thumbnail {
        width: 2em;
        grid-row: span 2;

    }

    .cartao_item-titulo {
        font-size: 0.9rem;
        line-height: 1.2em;
        font-weight: 700;

    }
    .cartao_item-perfil {
        font-size: 0.8rem;
        color: #95999C

    }

}